In [1]:
import pandas as pd
iris=pd.read_csv("D:\Anagha\PAPER\ML_PAPER_PREP\iris.csv")
iris.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [2]:
count=iris.groupby('species').species.count()
#or count=iris.groupby('species').size()
count

species
setosa        50
versicolor    50
virginica     50
Name: species, dtype: int64

In [ ]:
#to first group sepal length column and get the max petal length for each sepal length and then sort it by petal length
best = iris.groupby('sepal_length')['petal_length'].max().sort_index() #sort index is used here since petal length would now be the index and not a col
best #returns a Series

sepal_length
4.3    1.1
4.4    1.4
4.5    1.3
4.6    1.5
4.7    1.6
4.8    1.9
4.9    4.5
5.0    3.5
5.1    3.0
5.2    3.9
5.3    1.5
5.4    4.5
5.5    4.4
5.6    4.9
5.7    5.0
5.8    5.1
5.9    5.1
6.0    5.1
6.1    5.6
6.2    5.4
6.3    6.0
6.4    5.6
6.5    5.8
6.6    4.6
6.7    5.8
6.8    5.9
6.9    5.7
7.0    4.7
7.1    5.9
7.2    6.1
7.3    6.3
7.4    6.1
7.6    6.6
7.7    6.9
7.9    6.4
Name: petal_length, dtype: float64

In [5]:
#to get the min and max values of sepal length grouped by species
minmax=iris.groupby(['species']).sepal_length.agg([min,max])
minmax

C:\Users\Pramod\AppData\Local\Temp\ipykernel_32188\2860664019.py:2: FutureWarning: The provided callable <built-in function min> is currently using SeriesGroupBy.min. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "min" instead.
  minmax=iris.groupby(['species']).sepal_length.agg([min,max])
C:\Users\Pramod\AppData\Local\Temp\ipykernel_32188\2860664019.py:2: FutureWarning: The provided callable <built-in function max> is currently using SeriesGroupBy.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  minmax=iris.groupby(['species']).sepal_length.agg([min,max])

            min  max
species
setosa      4.3  5.8
versicolor  4.9  7.0
virginica   4.9  7.9

In [6]:
#to sort the min and max in desc order
sorted=minmax.sort_values(by=['min','max'], ascending=False)
sorted

            min  max
species
virginica   4.9  7.9
versicolor  4.9  7.0
setosa      4.3  5.8

In [7]:
#to get avg values by species name where index is species and value is the avg
avg=iris.groupby(['species']).sepal_length.mean()
avg

species
setosa        5.006
versicolor    5.936
virginica     6.588
Name: sepal_length, dtype: float64

In [8]:
desc=avg.describe()
desc

count    3.000000
mean     5.843333
std      0.795061
min      5.006000
25%      5.471000
50%      5.936000
75%      6.262000
max      6.588000
Name: sepal_length, dtype: float64