In [1]:
import pandas as pd
iris=pd.read_csv("D:\Anagha\PAPER\ML_PAPER_PREP\iris.csv")

In [2]:
#to rename sepal_length and species
renamed = iris.rename(columns={'sepal_length':'sep_len','species':'name'})
renamed

     sep_len  sepal_width  petal_length  petal_width       name
0        5.1          3.5           1.4          0.2     setosa
1        4.9          3.0           1.4          0.2     setosa
2        4.7          3.2           1.3          0.2     setosa
3        4.6          3.1           1.5          0.2     setosa
4        5.0          3.6           1.4          0.2     setosa
..       ...          ...           ...          ...        ...
145      6.7          3.0           5.2          2.3  virginica
146      6.3          2.5           5.0          1.9  virginica
147      6.5          3.0           5.2          2.0  virginica
148      6.2          3.4           5.4          2.3  virginica
149      5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [3]:
iris

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [4]:
reindexed = iris.rename_axis('flowers', axis='rows')
reindexed

         sepal_length  sepal_width  petal_length  petal_width    species
flowers
0                 5.1          3.5           1.4          0.2     setosa
1                 4.9          3.0           1.4          0.2     setosa
2                 4.7          3.2           1.3          0.2     setosa
3                 4.6          3.1           1.5          0.2     setosa
4                 5.0          3.6           1.4          0.2     setosa
...               ...          ...           ...          ...        ...
145               6.7          3.0           5.2          2.3  virginica
146               6.3          2.5           5.0          1.9  virginica
147               6.5          3.0           5.2          2.0  virginica
148               6.2          3.4           5.4          2.3  virginica
149               5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [5]:
re = iris.rename_axis('flowers', axis='rows').rename_axis("fields",axis='columns')
re

fields   sepal_length  sepal_width  petal_length  petal_width    species
flowers
0                 5.1          3.5           1.4          0.2     setosa
1                 4.9          3.0           1.4          0.2     setosa
2                 4.7          3.2           1.3          0.2     setosa
3                 4.6          3.1           1.5          0.2     setosa
4                 5.0          3.6           1.4          0.2     setosa
...               ...          ...           ...          ...        ...
145               6.7          3.0           5.2          2.3  virginica
146               6.3          2.5           5.0          1.9  virginica
147               6.5          3.0           5.2          2.0  virginica
148               6.2          3.4           5.4          2.3  virginica
149               5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [ ]:
'''combined_products = pd.concat([gaming_products,movie_products])
for combining two dataframes of same columns'''

In [ ]:
'''Both tables include references to a MeetID, a unique key for each meet (competition) 
included in the database. Using this, generate a dataset combining the two tables into one.
powerlifting_combined = powerlifting_meets.set_index("MeetID").join(powerlifting_competitors.set_index("MeetID"))
'''