In [ ]:
import pandas as pd
iris=pd.read_csv("D:\Anagha\PAPER\ML_PAPER_PREP\iris.csv")
iris.head()

In [1]:
import pandas as pd
iris=pd.read_csv("D:\Anagha\PAPER\ML_PAPER_PREP\iris.csv")
iris.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [ ]:
median=iris.sepal_length.median()
median

np.float64(5.8)

In [3]:
unique=iris.species.unique()
unique

array(['setosa', 'versicolor', 'virginica'], dtype=object)

In [4]:
#to count how often a species comes across
count=iris.species.value_counts()
count

species
setosa        50
versicolor    50
virginica     50
Name: count, dtype: int64

In [ ]:
#to subtract mean from a col
#(Note: this 'centering' transformation is a common preprocessing step before applying various machine learning algorithms.)
mean=iris.sepal_length.mean()
centered_len=iris.sepal_length.map(lambda x: x-mean)
centered_len

0     -0.743333
1     -0.943333
2     -1.143333
3     -1.243333
4     -0.843333
         ...
145    0.856667
146    0.456667
147    0.656667
148    0.356667
149    0.056667
Name: sepal_length, Length: 150, dtype: float64

In [ ]:
#to compute the best species based on the ratio of petal and sepal length and printing the species with the max ratio
bargain=(iris.sepal_length/iris.petal_length).idxmax() #computes ratio first using vectorised operations and then computes the index with the highest ratio
best=iris.loc[bargain,'species'] #to locate the species with highest index
best
'''can use apply as well, but time complexity is more
example -->
bargain= iris.apply(lambda x: x["sepal_length"] / x["petal_length"], axis=1)
len = bargain.idxmax()
best = reviews.loc[len, 'species']
'''

'setosa'

In [ ]:
#to count the no of times setosa and virginica occur
n_trop = iris.species.map(lambda desc: "setosa" in desc).sum()
n_fruity = iris.species.map(lambda desc: "virginica" in desc).sum()
descriptor_counts = pd.Series([n_trop, n_fruity], index=['setosa', 'virginica'])
descriptor_counts

setosa       50
virginica    50
dtype: int64